<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kebenny.learnchinesecharacters">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GuessChar"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DailyProgress"
            android:label="學習進度"
            android:screenOrientation="portrait">

            <!-- Add top left back icon in child activity -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kebenny.learnchinesecharacters.GuessChar" />
        </activity>
        <activity
            android:name=".Learning_Summary_with_RecyclerView"
            android:label="答對與Skip次數"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kebenny.learnchinesecharacters.Level_Summary" />
        </activity>
        <activity android:name=".Level_Summary"
            android:label="識字總結"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.kebenny.learnchinesecharacters.Level_Summary" />
        </activity>
    </application>

</manifest>